#set( $symbol_pound = '#' )
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:simple="http://cxf.apache.org/simple"
	xmlns:soap="http://cxf.apache.org/bindings/soap" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:cxf="http://cxf.apache.org/core"
	xsi:schemaLocation="
 http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
 http://cxf.apache.org/bindings/soap http://cxf.apache.org/schemas/configuration/soap.xsd
 http://cxf.apache.org/simple http://cxf.apache.org/schemas/simple.xsd
 http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
 http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
 http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd">

	<!-- <import resource="classpath:META-INF/cxf/cxf.xml" /> <import resource="classpath:META-INF/cxf/cxf-extension-soap.xml"
		/> <import resource="classpath:META-INF/cxf/cxf-servlet.xml" /> <simple:server
		id="" serviceClass="mx.com.planet.frisa.service.HelloService" address="/hello">
		<simple:serviceBean> <bean class="mx.com.planet.frisa.service.impl.HelloServiceImpl"
		/> </simple:serviceBean> <simple:dataBinding> <bean class="org.apache.cxf.aegis.databinding.AegisDatabinding"
		/> </simple:dataBinding> </simple:server> -->

	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<!-- <import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" /> -->
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

	<import resource="classpath:applicationContext-persistence.xml"/>

	<context:annotation-config />

	<context:component-scan base-package="${package}.*">
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>

	<bean id="${wsdlName}Service" class="${package}.service.impl.${className}WSImpl" />

	<jaxws:endpoint id="${wsdlName}Endpoint" implementor="${symbol_pound}${wsdlName}Service"
		address="/${wsdlName}Service" />

	<bean id="logInbound" class="org.apache.cxf.interceptor.LoggingInInterceptor" />
	<bean id="logOutbound" class="org.apache.cxf.interceptor.LoggingOutInterceptor" />

	<cxf:bus>
		<cxf:features>
			<cxf:logging />
		</cxf:features>
		<cxf:inInterceptors>
			<ref bean="logInbound" />
		</cxf:inInterceptors>
		<cxf:outInterceptors>
			<ref bean="logOutbound" />
		</cxf:outInterceptors>
		<cxf:outFaultInterceptors>
			<ref bean="logOutbound" />
		</cxf:outFaultInterceptors>
		<cxf:inFaultInterceptors>
			<ref bean="logInbound" />
		</cxf:inFaultInterceptors>
	</cxf:bus>

	<!-- <bean id="client" factory-bean="clientFactory" factory-method="create"
		/> <bean id="clientFactory" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
		<property name="serviceClass" value="com.baeldung.cxf.spring.Baeldung" />
		<property name="address" value="http://localhost:8080/services/baeldung"
		/> </bean> -->

</beans>
